.outermostContainer{
    display: flex!important;
    flex-direction: row;
    gap:40px;
    align-content: center;
    justify-content: center;
    border-style: inherit;
    border-width: thick;
    background-color: aliceblue;
    height: 800px;
    margin-top: -12px;
    gap: 50px;
    
}

.lightgreenButton{
    color: white!important;
    background-color:rgb(0, 166, 94)!important;
    height: 55px;
    gap: 10px;


  
}
.redButton{
    color: white!important;
    background-color:red!important;
    height: 55px;
    gap: 10px;



}
.ButtonGroup{
    gap: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    margin-right: 100px;
    margin-left: -300px;

} 
.OperatorCode{
   margin-left: 100px;
   margin-top: -80px;
    margin-right: -120px;
}