.outermostContainer{
    display: flex!important;
    flex-direction: row;
    gap:40px;
    align-content: center;
    justify-content: center;
    border-style: inherit;
    border-width: thick;
    background-color: aliceblue;
    height: 800px;
    margin-top: -12px;
    gap: 50px;
    
}
.tableNumber{
    display: flex;
    flex-direction: column;
   margin-top: 12px;
   margin-right:-81px;
}
.firstBox{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-content: flex-end;
    margin-top: 66px;
    border-style: ridge;
    border-width: thick;
    height: 600px;
   
}
.secondBox{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-right: 350px;
    margin-top: -60px;

}
.thirdbox{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-left: -135px;
    margin-top: -220px;
}
.ButtonGroup{
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    
}
.headerContent{
  margin-top: 20px;
  
}
.input{
    margin-top: 20px;
}

.blueButton{
    color: white!important;
    background-color: rgb(119, 119, 244)!important;
    padding: 20px!important;
    height: 100px!important;
    width: 200px!important;
    display: flex;
    flex-direction: column;
}
.lightblueButton{
    color: white!important;
    background-color:rgb(184, 156, 1)!important;
    width: 300px!important;
    padding:30px!important;
    display: flex;
    flex-direction: column;
    
}
.lightgreenButton{
    color: white!important;
    background-color:rgb(0, 166, 94)!important;
    width: 200px!important;
    padding:30px!important;
    display: flex;
    flex-direction: column;
}
.redButton{
    color: white!important;
    background-color:red!important;
    width: 200px!important;
    padding:30px!important;
    display: flex;
    flex-direction: column;
}
.buttonGroup{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.OperatorCode{
    height: 86px;
    width: 345px;
    border-style: ridge;
    border-width: thick;
    border-color: red;
    margin-top: 70px;

}