.outermostBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    border-style: inherit;
    background-color: aliceblue;
    border-width: 15px;
    height: 795px;
    gap: 30px;
    margin-top: 10px;
} 
.pulldown{
   margin-top: 20px;
   width: 200px;
    margin-right: 900px;
}
.lightgreenButton{
    color: white!important;
    background-color:rgb(0, 166, 94)!important;
    width: 200px!important;
    padding:30px!important;
    display: flex;
    flex-direction: column;
}
.redButton{
    color: white!important;
    background-color:red!important;
    width: 200px!important;
    padding:30px!important;
    display: flex;
    flex-direction: column;
}
.tableBox{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-content: flex-end;
    margin-top: 66px;
    border-style: ridge;
    border-width: thick;
    height: 500px;
    width: 1112px;
    margin-top: 12px;
    margin-right: 0px;
    
    
}

